@model IEnumerable<Settings>
<header id="header" class="site-header header-style-1">
    <div class="topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-8">
                    <div class="info">
                        <ul>
                            <li><i class="ti-location-pin"></i> @Model.ElementAt(0).Adress</li>
                            <li><i class="ti-timer"></i>@Model.ElementAt(0).WorkTime</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="social-quote clearfix">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                                <li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
                            </ul>
                        </div>
                        <div class="quote-btn">
                            <a href="#" class="theme-btn-s2">Get a quote <i class="fi flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end topbar -->

    <nav class="navigation navbar navbar-default">
        <div class="separator-bottom"></div>
        <div class="separator-bottom-2"></div>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="open-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/uploads/@Model.ElementAt(0).Logo" alt="@Model.ElementAt(0).Logo"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-left navigation-holder">
                <div class="left-separator"></div>
                <button class="close-navbar"><i class="ti-close"></i></button>
                <ul class="nav navbar-nav">
                    <li class="menu-item-has-children">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a asp-controller="home" asp-action="index">Home style 1</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a asp-controller="pages" asp-action="about">About us</a></li>
                            <li><a asp-controller="pages" asp-action="faq">FAQ</a></li>
                            <li><a asp-controller="pages" asp-action="error404">404</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Services</a>
                        <ul class="sub-menu">
                            <li><a asp-controller="pages" asp-action="servicesingle">Life insurance</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Case studies</a>
                        <ul class="sub-menu">
                            <li><a asp-controller="case" asp-action="casestudies">Case studies</a></li>
                            <li><a asp-controller="case" asp-action="casesingle">Case studies single</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="#Level3">Blog grid</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="blog" asp-action="bloggrid">4 columns</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#Level3">Blog single</a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="blog" asp-action="blogsingle">Right sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a asp-controller="pages" asp-action="contact">Contact</a></li>
                </ul>
            </div><!-- end of nav-collapse -->

            <div class="search-contact">
                <div class="contact">
                    <a href="#">
                        <i class="fi flaticon-feedback"></i>
                        <h5>Have any query?</h5>
                        <span>@Model.ElementAt(0).Phone</span>
                    </a>
                </div>
                <div class="header-search-area">
                    <div class="header-search-form">
                        <form class="form">
                            <div>
                                <input type="text" class="form-control" placeholder="Search here">
                            </div>
                            <button type="submit" class="btn"><i class="ti-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <button class="btn open-btn"><i class="ti-search"></i> <span>Search</span></button>
                    </div>
                </div>
            </div>

        </div><!-- end of container -->
    </nav>
</header>

